/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
}
body{
	background-color:#f8f8f8;
}
.book-library{
	background-color:#ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	height:auto;
	width:auto;
}
.book{
	margin:10px;
	text-align:center;
}
.book .author{
	text-align:left;
	color:rgb(119, 119, 119);
}
.book h2{
	color:black;
	text-align:left;
	text-transform:uppercase;
}
.book>.price{
	background-color:rgb(46, 204, 113);
	color:white;
	padding:5px;
}